html{
    height: 100%;
}

body{
	overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: center;

	height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#load {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 1050;
	opacity: 1.0;
	background: url(img/banner.png) 50% 50% no-repeat #fff;
}

input[type=text], select {
	padding: 8px 10px;
	margin: 8px 0;
	border:1px solid #ccc;
	border-radius: 1px;
	box-sizing:border-box;
}

#main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: center;
    width: 700px;
    height: 300px;
    background-color:rgba(0,0,0,0.09);
    z-index: 900;
}

#player{
    width: 700px;
    height: 100px;
    z-index: 800;
}

#profile{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-flow: column wrap;
    width:700px;
    height: 300px;
    z-index:900;
}

#avatar{
    margin-top:45px;
    margin-left:45px;
    width:210px;
    height:210px;
}

#title{
    margin-top:97px;
    margin-left:45px;
    font-size:40px;
}

#play{
    width:40px;
    height:auto;
    margin-left:35px;
}

#footer{
    height:50px;
    width:700px;
    position:fixed;
    background-color:#444;
    z-index:1000;
}

a:hover{
    opacity:0.7;
    cursor: pointer;
}
a{
    transition:0.3s;
}

#subtext{
    margin-top:-38px;
    margin-left:83px;
    font-size:25px;
}

/* thanks to jsfiddle/MadLittleMods! */
.new-item {
  flex: .00001;

  -webkit-animation: flexGrow 500ms ease forwards;
  -o-animation: flexGrow 500ms ease forwards;
  animation: flexGrow 500ms ease forwards;
  transition: all 500ms linear;
}

@-webkit-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@keyframes flexGrow {
  to {
    flex: 1;
  }
}
